BLUESKY_IDENTIFIER=your_bluesky_identifier
BLUESKY_APP_SECRET=your_bluesky_secret
OPENROUTER_API_KEY=your_openrouter_key
REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_secret
REDDIT_USER_AGENT=your_reddit_user_agent
TWITTER_BEARER_TOKEN=your_twitter_bearer_token
ANALYSIS_MODEL=your_preferred_model
IMAGE_ANALYSIS_MODEL=your_preferred_model